{% load static %}
{% load constants_tag %}
{% load template_tag %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Internal Server Error.</title>
<link href="{% custom_static "alice_admin/vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% custom_static "alice_admin/vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
<link href="{% custom_static "alice_admin/vendors/nprogress/nprogress.css" %}" rel="stylesheet">
<link href="{% custom_static "alice_admin/css/custom.min.css" %}" rel="stylesheet">
</head>
<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-12">
        <div class="col-middle">
          <div class="text-center text-center">
            <h1 class="error-number">500</h1>
            <h2>Internal Server Error</h2>
            <p>これらのエラーは自動的に監視しておりますが、問題が解決しない場合はお気軽にお問い合わせください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% custom_static "alice_admin/vendors/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% custom_static "alice_admin/vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <script src="{% custom_static "alice_admin/js/custom.min.js" %}"></script>
<body>
</html>
