<script>
$(document).on('change', ':file', function() {
  var input = $(this),
  numFiles = input.get(0).files ? input.get(0).files.length : 1,
  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.closest('.preview_wrapper').find(':text').val(label);

  var files = !!this.files ? this.files : [];
  if (!files.length || !window.FileReader) return;
  if (/^image/.test( files[0].type)){
    var reader = new FileReader();
    reader.readAsDataURL(files[0]);
    reader.onloadend = function(){
      input.closest('.preview_wrapper').find('.imagePreview').attr('src', this.result);
    }
  }
});
</script>
<style>
.imagePreview {
  margin-bottom: 10px;
  width: 50%;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
  display: inline-block;
}
</style>
