{% load widget_tweaks %}
{% load template_tag %}

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ field.auto_id }}">
    {{ field.label_tag }}
  </label>
  <div class="col-md-6 col-md-6 col-xs-12">
    {% if preview %}
    <img src="{% static_with_date "alice_admin/images/no-image.png" %}" class="imagePreview"/>
    {% endif %}
    <div class="input-group">
        <label class="input-group-btn">
            <span class="btn btn-primary">
                Choose File{% render_field field style="display:none" %}
            </span>
        </label>
        <input type="text" class="form-control" readonly="">
    </div>
  </div>
</div>
