{% load template_tag %}
<script src="{% static_with_date "alice_admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js" %}"></script>
<script src="{% static_with_date "alice_admin/vendors/jquery.hotkeys/jquery.hotkeys.js" %}"></script>
<script src="{% static_with_date "alice_admin/vendors/google-code-prettify/src/prettify.js" %}"></script>
<script>
$(function(){
  $('#editor-one').on('change', function(){
    $('#{{ field.auto_id }}').val($('#editor-one').html());
  });
});
</script>
