<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label_tag }}</label>
  <div class="checkbox">
    <label>
      <input name="{{ field.name }}" type="checkbox" class="flat" {% if field.value %}checked="checked"{% endif %} {% if confirm %}disabled="disabled"{% endif %}>
    </label>
    {{ field.errors }}
  </div>
</div>
