{% load widget_tweaks %}

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">{% if field.field.required %}<span class="text-danger">*&nbsp;</span>{% endif %}{{ field.label_tag }}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    {% if confirm %}
      <p class="control-label" style="text-align:left;">{{ field.value|safe|linebreaksbr }}</p>
    {% else %}
      {% if autocomplete %}
        {% with autocomplete_name="autocomplete_"|add:field.name %}
          {% render_field field autocomplete="on" list=autocomplete_name %}
          <datalist id="{{ autocomplete_name }}">
            {% for item in autocomplete %}
            <option value="{{ item }}">
            {% endfor %}
          </datalist>
        {% endwith %}
      {% else %}
        {% render_field field placeholder=field.help_text %}
      {% endif %}
    {% endif %}
  </div>
  <p class="text-danger">{{ field.errors.as_text }}</p>
</div>
