<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">{% if field.field.required %}<span class="text-danger">*&nbsp;</span>{% endif %}{{ field.label_tag }}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    {% if confirm %}
      {% if label %}
        {{ label }}
      {% else %}
        {{ field.value }}
      {% endif %}
    {% else %}
        {{ field }}
    {% endif %}
  </div>
</div>