<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ start.label_tag }}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="row">
      {% if confirm %}
        <div class="col-xs-12">
          <p class="control-label" style="text-align:left;">
            {% if start.value or end.value %}
              {{ start.value|safe }}&nbsp;～&nbsp;{{ end.value|safe }}
            {% endif %}
          </p>
        </div>
      {% else %}
        <div class="col-md-6 col-sm-6 col-xs-12">{{ start }}</div>
        <div class="col-md-6 col-sm-6 col-xs-12">{{ end }}</div>
      {% endif %}
    </div>
  </div>
  {{ field.errors }}
</div>
