{% load widget_tweaks %}

<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">{% if field.field.required %}<span class="text-danger">*&nbsp;</span>{% endif %}{{ field.label_tag }}</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    {% if confirm %}
      <p class="control-label" style="text-align:left;">{{ field.value|safe|linebreaksbr }}</p>
    {% else %}
      <div class='input-group date' id="{{ field.auto_id }}">
        <input type='text' class="form-control" name="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}" placeholder="{% if field.help_text %}{{ field.help_text }}{% endif %}"/>
        <span class="input-group-addon" style="background-color:#337ab7 !important; color: white !important;">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    {% endif %}
  </div>
  <p class="text-danger">{{ field.errors.as_text }}</p>
</div>