<div class="modal fade {{ class_name }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          {% block title %}{% endblock %}
        </h4>
      </div>
      <div class="modal-body">
        {% block body %}{% endblock %}
      </div>
      <div class="modal-footer">
        {% block footer %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        {% endblock %}
      </div>

    </div>
  </div>
</div>
