{% load models_tag %}

<div class="x_panel">
  <div class="x_title">
    <h2>{{ title }}</h2>
    <ul class="nav navbar-right panel_toolbox">
      <a href="{% url links.create %}"><button class="btn btn-primary">新規作成</button></a>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <p>{{ note }}</p>
    <div class="table-responsive">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <td class="column-title">No.</td>
            {% for field in columns %}
            <td class="column-title">{% get_th_label field %}</td>
            {% endfor %}
            <td class="column-title">操作</td>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td style="vertical-align: middle;">
            {{ forloop.counter }}
            </td>
            {% for field in columns %}
            <td style="vertical-align: middle;">
              {% autoescape off %}
              {% get_field_value item field %}
              {% endautoescape %}
            </td>
            {% endfor %}
            <td style="vertical-align: middle;">
              <a href="{% url links.edit item.id %}"><button class="btn btn-success btn-sm">編集</button></a>
              <a href="{% url links.delete item.id %}"><button class="btn btn-danger btn-sm">削除</button></a>
            </td>
          </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
  </div>
</div>
