{% if pk %}
<form method="POST" action="{% url action pk %}" {% if file_true %}enctype="multipart/form-data"{% endif %}>
{% else %}
<form method="POST" action="{% url action %}" {% if file_true %}enctype="multipart/form-data"{% endif %}>
{% endif %}
  {% csrf_token %}
  {% if table_size %}
    <div class="col-xs-{{ table_size }}">
  {% else %}
    <div class="col-xs-12">
  {% endif %}
    <div class="x_panel">
      <div class="x_title">
        <h2>{{ title }}</h2>
        <ul class="nav navbar-right panel_toolbox"></ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p>{{ note }}</p>
        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <tbody>
            {% for field in form %}
              <tr>
                <th class="column-title">
                  {% if field.field.required %}
                  <span class="text-danger">*</span>&nbsp;
                  {% endif %}
                  {{ field.label_tag }}
                </th>
                <td>{{ field }} {{ field.errors }}</td>
              </tr>
            {% endfor %}
            <tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="{% url cancel_url %}"><button type="button" class="btn btn-default">キャンセル</button></a>
      <button type="submit" class="btn btn-primary">&nbsp;送信&nbsp;</button>
    </div>
  </div>
</form>
