{% if show %}
<div class="col-md-12">
  <div class="alert alert-{{ type }} alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>{{ text }}</strong>{{ strong }}
  </div>
</div>
{% endif %}
