.form-as-button {
    display: inline-table;
}

html {
  display: none;
}

body {
  background-color: #F7F7F7;
}

.left_col {
  background: linear-gradient(#032f58 50%, #0084ff);
}

.nav.side-menu>li.active>a {
  background: linear-gradient(#032f58, #003c73),#003c73;
}

.nav_title {
  background: #032f58;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
  border-right: 5px solid #ff0;
}

.nav-md ul.nav.child_menu li:before {
  background: rgba(255, 255, 0, 1.0);
}

.nav-md ul.nav.child_menu li:after {
  border-left: 1px solid rgba(255, 255, 0, 0.4);
}

.btn-orange {
  color: #fff;
  background: orange;
  border: 1px solid rgb(255, 153, 0);
}

@font-face {
  font-family: 'Geotica';
  src: url('../fonts/Geotica_2012.otf') format('opentype');
}

.good-style-font {
  font-family: 'Geotica';
  letter-spacing: 1px;
}

.title_icon {
  color:#ff0;
  border: 1px solid #ff0 !important;
}

.title_style {
  font-family: 'Geotica';
  letter-spacing:10px;
  color:#ff0;
  font-size: x-large;
}

.x_panel {
  background: rgba(255, 255, 255, 0.6);
}

/* 余白 */
.m-1 {
  margin: calc(1 * 2px);
}

.m-2 {
  margin: calc(2 * 2px);
}

.m-3 {
  margin: calc(3 * 2px);
}

.m-4 {
  margin: calc(4 * 2px);
}

.m-5 {
  margin: calc(5 * 2px);
}

.mt-1 {
  margin-top: calc(1 * 2px);
}

.mt-2 {
  margin-top: calc(2 * 2px);
}

.mt-3 {
  margin-top: calc(3 * 2px);
}

.mt-4 {
  margin-top: calc(4 * 2px);
}

.mt-5 {
  margin-top: calc(5 * 2px);
}

.mb-1 {
  margin-bottom: calc(1 * 2px);
}

.mb-2 {
  margin-bottom: calc(2 * 2px);
}

.mb-3 {
  margin-bottom: calc(3 * 2px);
}

.mb-4 {
  margin-bottom: calc(4 * 2px);
}

.mb-5 {
  margin-bottom: calc(5 * 2px);
}

.ml-1 {
  margin-left: calc(1 * 2px);
}

.ml-2 {
  margin-left: calc(2 * 2px);
}

.ml-3 {
  margin-left: calc(3 * 2px);
}

.ml-4 {
  margin-left: calc(4 * 2px);
}

.ml-5 {
  margin-left: calc(5 * 2px);
}

.mr-1 {
  margin-right: calc(1 * 2px);
}

.mr-2 {
  margin-right: calc(2 * 2px);
}

.mr-3 {
  margin-right: calc(3 * 2px);
}

.mr-4 {
  margin-right: calc(4 * 2px);
}

.mr-5 {
  margin-right: calc(5 * 2px);
}

.p-1 {
  padding: calc(1 * 2px);
}

.p-2 {
  padding: calc(2 * 2px);
}

.p-3 {
  padding: calc(3 * 2px);
}

.p-4 {
  padding: calc(4 * 2px);
}

.p-5 {
  padding: calc(5 * 2px);
}

.pt-1 {
  padding-top: calc(1 * 2px);
}

.pt-2 {
  padding-top: calc(2 * 2px);
}

.pt-3 {
  padding-top: calc(3 * 2px);
}

.pt-4 {
  padding-top: calc(4 * 2px);
}

.pt-5 {
  padding-top: calc(5 * 2px);
}

.pb-1 {
  padding-bottom: calc(1 * 2px);
}

.pb-2 {
  padding-bottom: calc(2 * 2px);
}

.pb-3 {
  padding-bottom: calc(3 * 2px);
}

.pb-4 {
  padding-bottom: calc(4 * 2px);
}

.pb-5 {
  padding-bottom: calc(5 * 2px);
}

.pl-1 {
  padding-left: calc(1 * 2px);
}

.pl-2 {
  padding-left: calc(2 * 2px);
}

.pl-3 {
  padding-left: calc(3 * 2px);
}

.pl-4 {
  padding-left: calc(4 * 2px);
}

.pl-5 {
  padding-left: calc(5 * 2px);
}

.pr-1 {
  padding-right: calc(1 * 2px);
}

.pr-2 {
  padding-right: calc(2 * 2px);
}

.pr-3 {
  padding-right: calc(3 * 2px);
}

.pr-4 {
  padding-right: calc(4 * 2px);
}

.pr-5 {
  padding-right: calc(5 * 2px);
}