{% load template_tag %}
{% load constants_tag %}

<html lang="ja">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome to ALICE!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.2.1/pnotify.css" media="all" rel="stylesheet" type="text/css" />
  <link href="{% custom_static "alice_admin/vendors/pnotify/dist/pnotify.css" %}" rel="stylesheet"/>
  <link href="{% custom_static "alice_admin/vendors/pnotify/dist/pnotify.buttons.css" %}" rel="stylesheet"/>
  <link href="{% custom_static "alice_admin/vendors/pnotify/dist/pnotify.nonblock.css" %}" rel="stylesheet"/>
  <style>
    html, body {
      background-color: rgb(243,243,243);
    }
    img {
      max-width:500px;
      height: auto;
    }
    .footer {
      margin-top: 100px;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Welcome to ALICE !</h1>
        <h3><small>Alice is Based on Customized Django Enviroment.</small></h3>
        <img src="https://i.imgur.com/EIqcrgP.png"/>
      </div>
    </div>

    <div class="col-xs-12">
      <h2>Getting start</h2>
    </div>
    <div class="col-xs-12">
      <h3>1. enter web container</h3>
      <pre><code>$ docker-compose exec web bash</code></pre>
    </div>
    <div class="col-xs-12">
      <h3>2. add new application</h3>
      <pre><code>$ python3 manage.py add_app {application_name}</code></pre>
      <p>or <button class="btn btn-sm btn-primary" type="button" id="add_app" data-toggle="modal" data-target="#add_app_modal">Click Here</button> to add a new application.</p>
    </div>
    <div class="col-xs-12">
      <div class="alert alert-success" style="margin-top:20px;">
        <h3 style="margin:0;">→ then, edit project as usual.</h3>
      </div>
    </div>
  </div>
  <footer class="footer" style="">
    <div class="pull-right">
      {% get_footer_text %}
    </div>
    <div class="clearfix"></div>
  </footer>

  <div class="modal fade" id="add_app_modal" tabindex="-1" role="dialog" aria-labelledby="add_app_modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST" action="add_app/" id="add_app_form">
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add a new application</h4>
          </div>
          <div class="modal-body">
            <div class="input-group col-xs-12">
              <input id="application_name" name="application_name" type="text" class="form-control" placeholder="Application name">
              <p class="text-danger">※ application name can use only a-z and _</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="add_app_close">Close</button>
            <button type="button" class="btn btn-primary" id="add_app_submit" disabled>Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% custom_static "alice_admin/vendors/pnotify/dist/pnotify.js" %}"></script>
  <script src="{% custom_static "alice_admin/vendors/pnotify/dist/pnotify.buttons.js" %}"></script>
  <script src="{% custom_static "alice_admin/vendors/pnotify/dist/pnotify.nonblock.js" %}"></script>
  <script>
  $('#application_name').on('input', function(){
    var input = $('#application_name').val();
    if (input.length > 0 && input.match(/^([a-z]{1,2})$|^([a-z][a-z|\_]+[a-z])$/g)) {
      $('#add_app_submit').attr('disabled', false);
    } else {
      $('#add_app_submit').attr('disabled', true);
    }
  });
  $('#add_app_submit').on('click', function(){
    var form = $('#add_app_form');
    $.ajax({
      url: form.prop("action"),
      method: form.prop("method"),
      data: form.serialize(),
      timeout: 10000,
      dataType: "text",
    })
    .done( function(data) {
      data = JSON.parse(data)
      $('#application_name').val('');
      new PNotify({
        text: data.msg,
        type: 'success',
        styling: 'bootstrap3'
      });
      $('#add_app_close').click();
    });
  });
  </script>
</body>
</html>
