{% extends 'alice_admin/base_layout.html' %}
{% load alice_admin_tag %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="row">
          <div class="col-xs-12">
            <table class="table">
              {% for key, field in column_list.items %}
                {% if key not in exclude_field and field|get_value_from:item %}
                  <tr>
                    <th class="active">{{ field.verbose_name }}</th>
                    <td>{{ field|get_value_from:item }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
            <div class="col-xs-12 text-center">
              <a href="{% get_model_url model 'list' %}"><button type="button" class="btn btn-default">一覧へ</button></a>
              <button type="button" class="btn btn-success">編集</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ form|set_script }}
{% endblock %}