{% extends 'alice_admin/base_layout.html' %}
{% load alice_admin_tag %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <form class="form-horizontal form-label-left confirm-update" method="POST" action="{% get_model_url model 'update' pk %}">
          {% csrf_token %}
          {% for field in form %}
            {{ field|get_field_type }}
          {% endfor %}
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <span class="text-danger">*&nbsp;</span>は必須です。
            </div>
          </div>

          <div class="ln_solid"></div>

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <a href="{% get_model_url model 'list' %}">
                <button class="btn btn-default" type="button">一覧へ</button>
              </a>
              <button class="btn btn-orange" type="submit">更新</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{{ form|set_script }}
{% endblock %}