{% extends 'alice_admin/base_layout.html' %}
{% load alice_admin_tag %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="row">
          <div class="col-xs-12 mb-5">
            <a href="{% get_model_url model 'create' %}"><button class="btn btn-primary">新規作成</button></a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            {% if paginator.items|length > 0 %}
            <table class="table table-striped jambo_table">
              <thead>
                <tr>
                  {% for key, field in column_list.items %}
                  <th>{{ field.verbose_name }}</th>
                  {% endfor %}
                  <th style="width: 230px;">操作</th>
                </tr>
              </thead>
              <tbody>
                {% for item in paginator.items %}
                <tr>
                  {% for key, field in column_list.items  %}
                  <td>{{ field|get_value_from:item }}</td>
                  {% endfor %}
                  <td>
                    <a href="{% get_model_url model 'edit' item.id %}">
                      <button class="btn btn-success">編集</button>
                    </a>
                    <form action="{% get_model_url model 'delete' %}" method="post" class="confirm-delete" style="display:contents;">
                      {% csrf_token %}
                      <input type="hidden" name="pk" value="{{ item.pk }}"/>
                      <button class="btn btn-danger">削除</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <div class="alert alert-danger">レコードが登録されていません。</div>
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            {% include 'alice_admin/base_paginator.html' with paginator_obj=paginator.object %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}