<nav>
  <ul class="pagination">
    {% if paginator_obj.has_previous %}
    <li><a href="{{ link }}?page={{ paginator_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><a>&laquo;</a></li>
    {% endif %}

    {% for link_page in paginator_obj.paginator.page_range %}
      {% if link_page == paginator_obj.number %}
        <li class="active"><a>{{ link_page }}</a></li>
      {% else %}
        <li><a href="{{ link }}?page={{ link_page }}">{{ link_page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator_obj.has_next  %}
    <li><a href="{{ link }}?page={{ paginator_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><a>&raquo;</a></li>
    {% endif %}
  </ul>
</nav>
