{% load static %}
{% load constants_tag %}
{% load template_tag %}
{% load alice_admin_tag %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>{% get_project_name %} | {{ page_title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static_with_date "favicon.ico" %}">
    <link href="{% custom_static "alice_admin/vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% custom_static "alice_admin/vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% custom_static "alice_admin/vendors/nprogress/nprogress.css" %}" rel="stylesheet">
    <link href="{% custom_static "alice_admin/vendors/iCheck/skins/flat/green.css" %}" rel="stylesheet">
    <link href="{% custom_static "alice_admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet">
    <link href="{% custom_static "alice_admin/vendors/jqvmap/dist/jqvmap.min.css" %}" rel="stylesheet"/>
    <link href="{% custom_static "alice_admin/vendors/bootstrap-daterangepicker/daterangepicker.css" %}" rel="stylesheet">
    <link href="{% custom_static "alice_admin/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% custom_static "alice_admin/css/custom.min.css" %}" rel="stylesheet">
    <link href="{% static_with_date "alice_admin/css/common.css" %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>

  <body class="nav-md {% block footer_fixed %}footer_fixed{% endblock %}">
    <div id="particles-js" style="position:fixed;width:100%;height:100%;"></div>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            {% block main_logo %}
            <div class="navbar nav_title" style="border: 0;">
              <a href="{% get_url 'dashboard' %}" class="site_title">
                {% block project_name %}<i class="fa fa-globe title_icon"></i>&nbsp;&nbsp;<span class="title_style">{% get_project_name%}</span>{% endblock %}
              </a>
            </div>
            {% endblock %}

            <div class="clearfix"></div>
            {% block profile %}
              {% get_profile %}
            {% endblock %}

            <br />

            {% block sidebar %}
              {% get_sidebar %}
            {% endblock %}

            {% comment %} {% block menu_footer %}
              {% include "alice_admin/menu_footer.html" %}
            {% endblock %} {% endcomment %}
          </div>
        </div>

        {% block header %}
          {% get_header %}
        {% endblock %}

        <!-- page content -->
        <div class="right_col" role="main">
          {% autoescape off %}
            {% show_alert request %}
          {% endautoescape %}

          <div>
            <div class="page-title">
              <div class="title_left">
                <h3>{{ page_title }}</h3>
              </div>
              <div class="title_right"></div>
            </div>
            <div class="clearfix"></div>

            {% block content %}{% endblock %}
          </div>
        </div>
        <!-- /page content -->

        {% block footer %}
          {% get_footer %}
        {% endblock %}
      </div>
    </div>

    <script src="{% custom_static "alice_admin/vendors/particles.js/js/particles.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/particles.js/js/lib/stats.js" %}"></script>
    <script>
      particlesJS.load('particles-js', '{% custom_static "alice_admin/vendors/particles.js/particle.json" %}', function() {
        console.log('callback - particles.js config loaded');
      });
    </script>
    <script src="{% custom_static "alice_admin/vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/fastclick/lib/fastclick.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/nprogress/nprogress.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/Chart.js/dist/Chart.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/gauge.js/dist/gauge.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/iCheck/icheck.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/skycons/skycons.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/Flot/jquery.flot.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/Flot/jquery.flot.pie.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/Flot/jquery.flot.time.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/Flot/jquery.flot.stack.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/Flot/jquery.flot.resize.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/flot-spline/js/jquery.flot.spline.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/flot.curvedlines/curvedLines.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/DateJS/build/date.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/jqvmap/dist/jquery.vmap.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/moment/min/moment.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/js/custom.min.js" %}"></script>
    <script src="{% static_with_date "alice_admin/js/common.js" %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
