{% load alice_admin_tag %}

<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="{% get_url 'logout' %}" class="user-profile dropdown-toggle">
            <button class="btn btn-primary good-style-font"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Logout </button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
