{% load static %}
{% load constants_tag %}
{% load template_tag %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% get_project_name %} | {{ alice_site_title }}{% endblock %}</title>
    <link href="{% static "alice_admin/vendors/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "alice_admin/vendors/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "alice_admin/vendors/nprogress/nprogress.css" %}" rel="stylesheet">
    <link href="{% static "alice_admin/vendors/animate.css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "alice_admin/css/custom.min.css" %}" rel="stylesheet">
    <link href="{% static "alice_admin/css/common.css" %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
  </head>

  <body class="login">
    {% show_alert request %}
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="{% url action_url %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <h1>Login Form</h1>
              <div>
                {{ form.username }}
                {{ form.username.errors }}
              </div>
              <div>
                {{ form.password }}
                {{ form.password.errors }}
              </div>
              <div>
                <input type='hidden' name='next' value='{{ next }}' />
                <button class="btn btn-orange col-md-10 col-md-offset-1" type="submit">Log in</button>
                <div class="col-md-12 text-center"><br/>
                    <a href="#" style="margin:0px;">Lost your password?</a>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                {% block login_footer %}
                  <div>
                    <h1><i class="fa fa-globe"></i> {% get_project_name %}</h1>
                    <p>{% get_footer_text %}</p>
                  </div>
                {% endblock %}
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <script src="{% custom_static "alice_admin/vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% custom_static "alice_admin/vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static_with_date "alice_admin/js/common.js" %}"></script>
  </body>
</html>
